body {
    background-color: rgb(113, 144, 197) !important;
    min-width: 320px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.language-switcher {
    width: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
}

.main-process {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

#download-archive {
    display: none;
}

.status-downloading.status-downloading {
    color: #357ABD;
    font-size: 1.5rem;
}

#uploadForm {
    max-width: 420px;
    width: 100%;
}

.progress {
    max-width: 400px;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.progress div {
    position: absolute;
    height: 58px;
}

.processing-progress {
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0;
    color: #fff !important;
}

.progress h2 {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin: 0;
    color: #357ABD;
}

.progress p {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

.title-result {
    color: #fff;
}

.form__wrapper {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;

}

.form__wrapper>button {
    margin: 15px;
    width: calc(100% - 30px);
}

#resultImages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4A90E2;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input[type="file"],
select,
input[type="number"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4A90E2;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

.options {
    display: none;
    /* Сховати параметри за замовчуванням */
}

.options label {
    margin-top: 10px;
    font-weight: bold;
}

h2 {
    margin-top: 20px;
    color: #4A90E2;
}

#resultImages {
    list-style: none;
    padding: 0;
}

#resultImages li {
    margin: 10px 0;
}

#resultImages img {
    max-width: 100%;
    border: 2px solid #4A90E2;
    border-radius: 5px;
}